
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #000;
    min-height: 200vh;
}

header{
    position: relative;
}
image-header {
    width: 100%;
}

img {
    width: 90%;
}

.global {
    padding: 3em;
    width: auto;
    /*background-color: #343a40;*/
}

nav {
    margin-bottom: 2em;
}

footer {
    margin-top: 2em;
}

.connect {
    height: 48em ;
}

.text-center {
    text-align: center;
}

.form-div{
    background-color: gainsboro;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

form {
    margin: 10px 5px;
}

.form_header{
    display: flex;
}
.title, .nbChap{
    margin-right: 1em;
}

.nbChap{
    width: 10em;
}

#nbChap{
    width: 10%;
}

.newArticle{
    font-size: medium;
}

.card {
    padding: 1em ;
    width: 80%;
    margin: 1.5em auto;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.text-center.mb-3 {
    font-size: 3.5em;
}