image-header {
    width: 100%;
}

img {
    width: 90%;
}

.global {
    padding: 3em;
    width: auto;
    /*background-color: #343a40;*/
}

nav {
    margin-bottom: 2em;
}

footer {
    margin-top: 2em;
}

.connect {
    height: 48em ;
}