* {
     font-family: "Arial", "Segoe Script";
}

/*
- PART HOME PAGE
- HEADER
*/
.globalContent {
     margin-top: 2em;
}

.imageHeader {
     margin-bottom: 1em;
}

.imageHeader img {
     width: 60em;
}

.titleHeader {
     font-weight: 600;
     font-size: 4em;
}

.contentHeader {
     width: 80%;
     margin: 2em auto;
}

/*
- SECTION
 */

.titleSection {
     font-weight: 500;
     font-size: 2em;
     margin-bottom: 1em;
}

/*
   ARTICLE
 */

article {
     width: 80%;
     margin: 2em auto;
}

.articlePara p {
     font-size: 1.5em;
}

.buttonlink {
     height: 2em;
}

/*
LIST ARTICLE PAGE ASC
 */

.cardTitle {
     font-size: 4em;
     font-weight: 600;
}

.card {
     padding: 2em;
     box-shadow: rgba(1, 2, 4, 0.65) 10px 5px 5px;
}

/*
ARTICLE PAGE
 */
.articleGlobal {
     margin: 0;
     padding: 0;
}

.part {
     margin: 4em;
}

.HeaderArticle {
     margin: 2em;
}

.partArticle {
     padding: 5em 5em;
     border-radius: 30px;
}


/* DASHBOARD PAGE */
.dashboard_header {
     margin-bottom: 1em;
     font-weight: 700;
     font-size: 3em;
}

.dashboard_body {
     margin: 1em;
}

/*EDIT ARTICLE PAGE*/
.editArtcleGlobale {
     margin: 2em;
}


/* CREATE ARTICLE PAGE*/


.form-newArticle {
     margin: 2em;
}

/*
PROFILE PAGE
 */

.part-info-user{
     height: 35em;
     margin: 2em auto;
}

/*Connect & Register PAGE*/
.connect {
     height: 48em;
}

.form-div {
     background-color: gainsboro;
     margin: 50px auto;
     padding: 2em;
     border-radius: 5px;
     width: 350px;
}

.connectTitle {
     font-size: 3em;
     font-weight: 700;
}
